<div class="avatar{% if image %} avatar--image{% endif %}"{% if image %} style="background-image: url({{image.src}});"{% endif %}>
  <img src="{{ image.src }}" alt="{{ image.name }}" class="avatar-image" />
</div>