<article id="page-{{ post.id }}">
  <div class="entry-content" id="content">
    <div class="container--inner">
      {{ post.content }}
    </div>
  </div>
  <!-- .entry-content -->
</article>
<!-- #post-{{post.id}} -->
