<article id="page-not-found">
	<div class="entry-content background" id="content">
		<div class="container__inner">
			<h1>Oops! That page can't be found.</h1>
		</div>
	</div><!-- .entry-content -->
</article><!-- .page-not-found -->