.flexible-content__section--repeating_blocks {
  .repeating-blocks {
    .container--content {
      z-index: 1;
    }
    .flex-grid {
      z-index: 1;
    }
    &__block {
      margin: rem(70) 0;
      overflow-x: clip;
      &--no-image {
        padding-top: rem(50);
      }
      @include mq(lg) {
        margin: rem(50) 0 rem(120);
        overflow-x: initial;
      }
    }
    &__image {
      padding: rem(14) rem(8);
    }
    &__content {
      h2 {
        @include mq(lg) {
          margin-bottom: rem(30);
        }
      }
      p {
        margin-bottom: rem(15);
        @include mq(lg) {
          margin-bottom: rem(42);
        }
      }
      .btn {
        margin-bottom: rem(10);
        @include mq(lg) {
          margin-bottom: rem(0);
        }
      }
      @include mq(lg) {
        transform: translateY(-50%);
        padding: rem(20) rem(69);
      }
    }
  }
}
