/* Global Footer styles go here */
.site-footer {
  @include mq(lg) {
    padding: rem(88) 0 rem(20);
  }
  .footer-content {
    &__logo {
      width: rem(117px);
      margin-bottom: rem(37);
      @include mq(lg) {
        width: rem(166px);
      }
    }
    &__nav {
      .menu {
        .menu-link {
          @apply no-underline;
          @include hocus {
            @apply underline;
          }
        }
        .sub-menu {
          .menu-item {
            margin: rem(10) 0;
            @apply block;
          }
        }
        &#footer-column-1 {
          margin-bottom: rem(37);
        }
        &#footer-column-2 {
          margin-bottom: rem(46);
          .menu-item {
            margin: 0 0 rem(28);
            @apply block;
          }
        }
      }
      .footer-nav--social {
        margin-bottom: rem(20);
        .menu-link {
          padding: 0 rem(30);
        }
        :first-child {
          .menu-link {
            padding-left: 0;
          }
        }
      }
      .footer-label {
        @include mq(lg) {
          margin: 0 0 rem(9);
        }
      }
      &--social {
        @include mq(lg) {
          margin-left: rem(36);
        }
      }
    }
    &__copyright {
      .menu-link {
        @apply inline-block mt-0;
      }
      .menu {
        .menu-item {
          @apply inline-block mt-0;
          &:not(:last-child) {
            &:after {
              content: "|";
              margin: 0 5px;
              top: 2px;
              @apply inline-block relative;
            }
          }
        }
        .menu-link {
          @apply no-underline;
        }
      }
      @include mq(lg) {
        p {
          top: rem(6px);
        }
      }
    }
  }
}
