/* Global Footer styles go here */
.site-footer {
  @include mq(lg) {
    padding: rem(88) 0 rem(20);
  }
  .footer-content {
    &__logo {
      width: rem(117px);
      margin-bottom: rem(37);
      @include mq(lg) {
        width: rem(166px);
      }
    }
    &__nav {
      .menu {
        .menu-link {
          text-decoration: none;
          @include hocus {
            text-decoration: underline;
          }
        }
        .sub-menu {
          .menu-item {
            display: block;
            margin: rem(10) 0;
          }
        }
        &#footer-column-1 {
          margin-bottom: rem(37);
        }
        &#footer-column-2 {
          margin-bottom: rem(46);
          .menu-item {
            display: block;
            margin: 0 0 rem(28);
          }
        }
      }
      .footer-nav--social {
        margin-bottom: rem(20);
        .menu-link {
          padding: 0 rem(30);
        }
        :first-child {
          .menu-link {
            padding-left: 0;
          }
        }
      }
      .footer-label {
        @include mq(lg) {
          margin: 0 0 rem(9);
        }
      }
      &--social {
        @include mq(lg) {
          margin-left: rem(36);
        }
      }
    }
    &__copyright {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      p,
      nav,
      .menu-link {
        display: inline-block;
        margin-top: 0;
      }
      .menu {
        .menu-item {
          display: inline-block;
          margin: 0;
          &:not(:last-child) {
            &:after {
              content: "|";
              display: inline-block;
              margin: 0 5px;
              position: relative;
              top: 2px;
            }
          }
        }
        .menu-link {
          text-decoration: none;
        }
      }
      @include mq(lg) {
        justify-content: flex-end;
        .spacer {
          display: none;
        }
        p {
          margin-right: rem(16);
          margin-bottom: 0;
          position: relative;
          top: rem(6px);
        }
      }
    }
  }
}
