@use 'sass:math';

// 12-Column Grid Layout.
.grid {
  display: grid;
  grid-column-gap: $grid-gutter;
  grid-template-columns: repeat($grid-columns-mobile, 1fr);
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: calc(100% - (#{$grid-gutter} * 2));

  @include mq($ph) {
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-template-rows: auto;
  }

  @include mq($xxl) {
    width: $grid-max-width-xxl;
  }

  &.no-gap {
    grid-column-gap: 0;
  }
}

.flex-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &--centered-y {
    align-items: center;
  }
  &--centered-x {
    justify-content: center;
  }
  &--centered {
    align-items: center;
    justify-content: center;
  }
  > * {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
  }
  @for $grid-column from 1 through $grid-columns {
    @for $columns from 1 through $grid-column {
      // Push
      .grid-push-#{$columns}of#{$grid-column} {
        left: ($columns / $grid-column) * 100%;
      }
      // Pull
      .grid-pull-#{$columns}of#{$grid-column} {
        right: ($columns / $grid-column) * 100%;
      }
      .grid-#{$columns}of#{$grid-column} {
        width: ($columns / $grid-column) * 100%;
      }
      @each $breakpoint, $bp in $breakpoints {
        @include mq($bp) {
          .grid-#{$columns}of#{$grid-column}--#{$breakpoint} {
            width: ($columns / $grid-column) * 100%;
          }
          // Push
          .grid-push-#{$columns}of#{$grid-column}--#{$breakpoint} {
            left: ($columns / $grid-column) * 100%;
          }
          // Pull
          .grid-pull-#{$columns}of#{$grid-column}--#{$breakpoint} {
            right: ($columns / $grid-column) * 100%;
          }
        }
      }
    }
  }
}

// For themers to check their work against the 12-column grid guidelines.
#grid-checker {
  background: transparent;
  display: grid;
  grid-auto-rows: minmax(100%, auto);
  left: 0;
  height: 100%;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;

  p {
    background: $black;
    margin: 0;
    opacity: 0.1;
    width: 100%;
  }
}
