#page-not-found {
  .container__inner {
    &:after {
      content: "404";
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      @apply text-gray-dk opacity-50 absolute z-0;
    }
  }
}
