.singular-preview {
  a {
    text-decoration: none;
    @include hocus {
      text-decoration: underline;
    }
  }
  h2 {
    margin: rem(10) 0 rem(20);
  }
  &__preview-image {
    padding: 0 rem(30) rem(20) 0;
    margin: 0;
  }
  .byline {
    a {
      text-transform: capitalize;
      margin-right: rem(2px);
    }
  }
  &:last-child {
    hr {
      display: none;
    }
  }
}
